  /* FUNNY FONTS PLEASE WORK */
  body {
    background-image: url("backgroundmaz.gif") ;
    background-size: contain;
    color: rgb(255, 255, 255);
    font-family: 'apple_ii_proregular';
    font-size: 3vmin;
  }

  header {
    border-style: double;
    border-color: cyan;
    background-color: rgba(17, 17, 17, 0.808);
    display: flex;
  }

  #my-name {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
  }

  #message-container {
    border-radius: 5px;
    overflow: hidden;
  }
  #message {

  }

  .flexbox-container {
    
    display: flex;


  }



  

  ::placeholder {
    color: rgb(0, 0, 0);
  }

  .talkbox {
    background-color: rgba(17, 17, 17, 0.808);
    border-color: cyan;
    margin-left: auto;
    margin-right: auto;

    border-style:double;
    max-height: 10%;
    max-width: 50%;
    aspect-ratio: 2 / 1;
    white-space: pre-line;
  }

  #input-a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vmin;
    border-radius: 3px;
    border-style: double;
    border-color: blueviolet;
    color: blueviolet;
    background-color: rgb(255, 255, 255);
    font-family: 'apple_ii_proregular';'
    height: 10%;
    width: 50%;
    padding-left: 3px;
    padding-right: 10px;
    

  }

  .testbox {
    background-color: rgba(17, 17, 17, 0.808);
    border-style: double;
    border-color: cyan;
    margin-right: auto;
  }

  #circle {
    
    font-size: 10px;
    color: cyan;
    positiorgb(4, 50, 255)e;
    border-radius: 100%;
    padding: 16px;
     animation: rotate-animation 8s infinite linear;
    
  
  }
  
  #circle span {
    position: absolute;
    transform-origin: top left;
  }
  
  @keyframes rotate-animation {
    from { transform: rotate(0); }
    to { transform: rotate(-360deg); }
  }
  
  .funny-text {
    font-size: 2vmin;

    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    color: rgb(226, 43, 202);
  }

  
